:host {
  --tile: 1rem;
  --logo-size: var(--tile);

  --dark: #002c02;
  --mid-dark: #2a592f;
  --mid: #568b5d;
  --mid-light: #84c18f;
  --light: #b5f9c4;
  --light-50p: #d7fcdf;

  --attention: #00f6cd;
  --bg: #fffffc;

  --padding: 3rem;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
    /* This establishes the element as a container */
  container-type: inline-size;
  /* Optional: Give it a name to target it specifically later */
  container-name: layout;
}

@media (width < 800px) {
  :host {
    grid-template-columns: 1fr;
  }
  aside {
    position: sticky;
    bottom: 0;
  }
}


* {
  color: var(--dark);
}

.body {
  display: block;
  position: relative;
  /* This establishes the element as a container */
  container-type: inline-size;
  /* Optional: Give it a name to target it specifically later */
  container-name: body;
  padding: var(--padding);
  --indent: calc((100cqw / 4));
  display: grid;
  gap: 1rem;
}

details {
  margin-left: var(--indent);
  position: relative;
}

.selected {
  font-weight: bold;
  position: sticky;
  top: 4rem;
}

.selected::marker {
  color: var(--mid-dark);
}

main>div>details {
  margin-left: 0;
}

details::before {
  content: "";
  display: block;
  height: calc(100% - var(--tile));
  width: 1px;
  position: absolute;
  left: 3px;
  bottom: 0;
  border-left: 1px solid var(--light);
}

details:has(.selected)::before {
  border-left: 1px solid var(--mid-dark);
}

div>a {
  padding-left: var(--indent);
}

div>a::before {
  content: "▶";
}

summary {
  display: inline list-item;
  
  cursor: pointer;
}
summary::marker {
  color: var(--mid-light);
}

nav {
  gap: 1rem;
  display: flex;
  align-items: center;
  font-weight: 800;
}

a {
  all: unset;
  color: initial;
  cursor: pointer;
  pointer-events: stroke;
}

[title="Name"] summary {
  pointer-events: none;
}

summary.selected {
  text-decoration: underline;
}

summary:hover {
  text-decoration: underline;
}

header {
  top: 0;
  position: sticky;
  height: var(--padding);
  display: flex;
  z-index: 2;
  background: var(--bg);
  place-items: center;
  border: solid var(--light);
  border-width: 1px 0px;
}

ol {
  all: unset;
  display: flex;
  background: var(--bg);
  z-index: 1;
}

article {
  margin: 1rem 0;
}

li {
  all: unset;
  display: block;
  width: var(--indent);
}

li:first-child button {
  cursor: unset;
}

i {
  opacity: 0.25;
  font-size: calc(var(--tile) / 2);
}

aside {
  background: var(--light-50p);
  padding: var(--padding);
}

aside>div {
  position: sticky;
  top: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}

ul {
  padding: 0;
}

aside button {
  cursor: pointer;
  min-height: 2rem;
}

aside label {
  cursor: pointer;
}

[type="radio"] {
  cursor: pointer;
  accent-color: var(--mid);
}

aside>legend {
  display: contents;
}

.App>a {
  position: fixed;
  top: calc(var(--tile) + var(--indent));
  right: var(--tile);
  height: var(--tile);
  z-index: 10;
}

.clear-taxon {
  stroke-width: var(--close-line-width, 1px);
  background-color: var(--mid-light);
  stroke: black;
  cursor: pointer;
}